name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # 定义目标架构
        arch: [amd64, arm64, armhf]
        include:
          - arch: amd64
            triplet: x86_64-linux-gnu
            compiler: g++
          - arch: arm64
            triplet: aarch64-linux-gnu
            compiler: aarch64-linux-gnu-g++
          - arch: armhf
            triplet: arm-linux-gnueabihf
            compiler: arm-linux-gnueabihf-g++

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install cross compiler & deps
        run: |
          sudo apt-get update
          sudo apt-get install uuid-dev -y
          sudo apt-get install -y \
            g++-${{ matrix.triplet }} \
            binutils-${{ matrix.triplet }}

      - name: Build
        run: |
          make CXX=${{ matrix.compiler }} \
               CXXFLAGS="-O2 -I/usr/include/${{ matrix.triplet }}" \
               LDFLAGS="-L/usr/lib/${{ matrix.triplet }}"

      - name: Upload binary files
        uses: actions/upload-artifact@v4
        with:
          name: phira-mp-server-linux-${{ matrix.arch }}
          path: ./phira-mp-server
